body {
  font-family: "Poppins", sans-serif;
}

h2,
h4 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 19px;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 600;
}

.weather-forecast-temp {
  font-size: 14px;
  font-weight: 600;
}

.footer {
  display: block;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.temperature {
  font-size: 55px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

#weather-description {
  margin-bottom: 20px;
}

#icon {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}

#fahrenheit-temp {
  text-decoration: none;
}

#celsius-temp {
  text-decoration: none;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
