body {
  font-family: "Poppins", sans-serif;
}

h2,
h4 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 19px;
  line-height: 20px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
}

.footer {
  display: block;
  margin: 0;
  text-align: center;
}

.temperature {
  font-size: 55px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -40px;
}

#weather-description {
  margin-bottom: 20px;
}

#icon {
  margin-right: 10px;
  float: left;
}

#fahrenheit-temp {
  text-decoration: none;
}

#celsius-temp {
  text-decoration: none;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
