body {
  font-family: "Poppins", sans-serif;
}

h2,
h5 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 19px;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
}

.footer {
  display: block;
  margin: 0;
  text-align: center;
}

.temperature {
  font-size: 45px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
